body .gist .highlight {
    background: #141414;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .highlight,
body .gist .pl-enm,
body .gist .pl-ko,
body .gist .pl-mo,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-ms,
body .gist .pl-pdc1,
body .gist .pl-scp,
body .gist .pl-smc,
body .gist .pl-som,
body .gist .pl-va,
body .gist .pl-vpf,
body .gist .pl-vpu,
body .gist .pl-mdr {
     color: #aab1bf;
}
body .gist .pl-mb,
body .gist .pl-pdb {
     font-weight: 700;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
     color: #5b6270;
     font-style: italic;
}
body .gist .pl-sr .pl-cce {
     color: #56b5c2;
     font-weight: 400;
}
body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-eoai,
body .gist .pl-kos,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mr {
     color: #61afef;
}
body .gist .pl-ens,
body .gist .pl-vi {
     color: #be5046;
}
body .gist .pl-enti,
body .gist .pl-mai .pl-sf,
body .gist .pl-ml,
body .gist .pl-sf,
body .gist .pl-sr,
body .gist .pl-sr .pl-sra,
body .gist .pl-src,
body .gist .pl-st,
body .gist .pl-vo {
     color: #56b5c2;
}
body .gist .pl-eoi,
body .gist .pl-mri,
body .gist .pl-pds,
body .gist .pl-pse .pl-s1,
body .gist .pl-s,
body .gist .pl-s1 {
     color: #97c279;
}
body .gist .pl-k,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-pde {
     color: #c578dd;
}
body .gist .pl-mi,
body .gist .pl-pdi {
     color: #c578dd;
     font-style: italic;
}
body .gist .pl-mp,
body .gist .pl-stp {
     color: #818896;
}
body .gist .pl-mdh,
body .gist .pl-mdi,
body .gist .pl-mdr {
     font-weight: 400;
}
body .gist .pl-mdht,
body .gist .pl-mi1 {
     color: #97c279;
     background: #020;
}
body .gist .pl-md,
body .gist .pl-mdhf {
     color: #df6b75;
     background: #200;
}
body .gist .pl-corl {
     color: #df6b75;
     text-decoration: underline;
}
body .gist .pl-ib {
     background: #df6b75;
}
body .gist .pl-ii {
     background: #e0c184;
     color: #fff;
}
body .gist .pl-iu {
     background: #e05151;
}
body .gist .pl-ms1 {
     color: #aab1bf;
     background: #373b41;
}
body .gist .pl-c1,
body .gist .pl-cn,
body .gist .pl-e,
body .gist .pl-eoa,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-kou,
body .gist .pl-mm,
body .gist .pl-mp .pl-s3,
body .gist .pl-mq,
body .gist .pl-s3,
body .gist .pl-sok,
body .gist .pl-sv,
body .gist .pl-mb {
     color: #d19965;
}
body .gist .pl-enc,
body .gist .pl-entc,
body .gist .pl-pse .pl-s2,
body .gist .pl-s2,
body .gist .pl-sc,
body .gist .pl-smp,
body .gist .pl-sr .pl-sre,
body .gist .pl-stj,
body .gist .pl-v,
body .gist .pl-pdb {
     color: #e4bf7a;
}
body .gist .pl-ent,
body .gist .pl-entl,
body .gist .pl-entm,
body .gist .pl-mh,
body .gist .pl-pdv,
body .gist .pl-smi,
body .gist .pl-sol,
body .gist .pl-mdh,
body .gist .pl-mdi {
     color: #df6b75;
}
