body .gist .highlight {
    background-color: #2c2828;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-e,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s3,
body .gist .pl-sok {
    color: #e6e1dc;
}
body .gist .pl-cce {
    color: #afa472;
}
body .gist .pl-cn {
    color: #ccc;
}
body .gist .pl-enti {
    color: #aeb2f8;
    font-weight: 700;
}
body .gist .pl-sra {
    color: #797878;
}
body .gist .pl-mdr {
    color: #757ad8;
    font-weight: 400;
}
body .gist .pl-ms1 {
    background-color: #bebf55;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
    color: #a6c6ff;
    font-style: italic;
}
body .gist .pl-c1,
body .gist .pl-st,
body .gist .pl-vo {
    color: #a5c261;
}
body .gist .pl-coc,
body .gist .pl-en,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-k,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mp,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-mq,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-pse .pl-s2,
body .gist .pl-s,
body .gist .pl-mp .pl-s3,
body .gist .pl-sc,
body .gist .pl-stp,
body .gist .pl-sv,
body .gist .pl-v,
body .gist .pl-vi,
body .gist .pl-vpf,
body .gist .pl-mri,
body .gist .pl-va,
body .gist .pl-vpu,
body .gist .highlight-text-tex .pl-s3 {
    color: #757ad8;
}
body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-sol {
    color: #66a968;
}
body .gist .pl-ef,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-eoi,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-smc,
body .gist .pl-som,
body .gist .pl-sr {
    color: #aeb2f8;
}
body .gist .pl-ent,
body .gist .highlight-text-html-basic .pl-e {
    color: #6782d3;
}
body .gist .pl-mb,
body .gist .pl-pdb {
    color: #66a968;
    font-weight: 700;
}
body .gist .pl-mi,
body .gist .pl-pdi {
    color: #e6e1dc;
    font-style: italic;
}
body .gist .pl-pdc1,
body .gist .pl-scp {
    color: #4fb7c5;
}
body .gist .pl-pds,
body .gist .pl-s1,
body .gist .highlight-source-css .pl-v {
    color: #ad9361;
}
body .gist .pl-s2,
body .gist .pl-stj {
    color: #8f938f;
}
body .gist .pl-sf,
body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-mo,
body .gist .pl-entl {
    color: #bebf55;
}
body .gist .pl-src,
body .gist .pl-sre {
    color: #e9c062;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
    color: #66a968;
    background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf {
    color: #aeb2f8;
    background: rgba(64, 0, 0, .5);
}
body .gist .pl-mdh,
body .gist .pl-mdi {
    color: #bebf55;
    font-weight: 400;
}
body .gist .pl-ib,
body .gist .pl-iu {
    background-color: #aeb2f8;
}
body .gist .pl-id,
body .gist .pl-ii {
    background-color: #aeb2f8;
    color: #fff;
}
