body .gist .highlight {
    background-color: #1d1f21;
}
body .gist .blob-num,
body .gist .blob-code-inner {
    color: #c5c8c6;
}
body .gist .pl-enti {
    color: #f0c674;
    font-weight: 700;
}
body .gist .pl-s3 {
    color: #81a2be;
}
body .gist .pl-sf {
    color: #dad085;
}
body .gist .pl-mdr {
    color: #de935f;
    font-weight: 400;
}
body .gist .pl-ms1 {
    background-color: #c5c8c6;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
    color: #969896;
    font-style: italic;
}
body .gist .pl-c1,
body .gist .pl-cce,
body .gist .pl-cn,
body .gist .pl-coc,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mq,
body .gist .pl-pdc1,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-pse .pl-s2,
body .gist .pl-scp,
body .gist .pl-stp,
body .gist .pl-sv,
body .gist .pl-v,
body .gist .pl-vi,
body .gist .pl-vpf,
body .gist .pl-mri,
body .gist .pl-va,
body .gist .pl-vpu {
    color: #de935f;
}
body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-pds,
body .gist .pl-s1,
body .gist .pl-sol {
    color: #b5bd68;
}
body .gist .pl-e,
body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-eoi,
body .gist .pl-smc {
    color: #f0c674;
}
body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-k,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s,
body .gist .pl-mp .pl-s3,
body .gist .pl-sok,
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre,
body .gist .pl-st {
    color: #b294bb;
}
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-som,
body .gist .pl-sr,
body .gist .pl-vo {
    color: #c66;
}
body .gist .pl-mb,
body .gist .pl-pdb {
    color: #b5bd68;
    font-weight: 700;
}
body .gist .pl-mi,
body .gist .pl-pdi {
    color: #b294bb;
    font-style: italic;
}
body .gist .pl-mp,
body .gist .pl-mp1 .pl-sf {
    color: #81a2be;
}
body .gist .pl-s2,
body .gist .pl-sc,
body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-stj,
body .gist .pl-mo,
body .gist .pl-entl {
    color: #c5c8c6;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
    color: #8f9d6a;
    background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf {
    color: #c66;
    background: rgba(64, 0, 0, .5);
}
body .gist .pl-mdh,
body .gist .pl-mdi {
    color: #c66;
    font-weight: 400;
}
body .gist .pl-ib,
body .gist .pl-iu {
    background-color: #c66;
}
body .gist .pl-id,
body .gist .pl-ii {
    background-color: #c66;
    color: #fff;
}
