body .gist .highlight {
    background: #141414;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s2,
body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-entl {
    color: #ccc;
}
body .gist .pl-enti {
    color: #ac885b;
    font-weight: 700;
}
body .gist .pl-mp {
    color: #c5af75;
}
body .gist .pl-s {
    color: #f9ee98;
}
body .gist .pl-ib {
    background: #f93;
}
body .gist .pl-id {
    background: #a31515;
    color: #fff;
}
body .gist .pl-ii {
    background: #df5000;
    color: #fff;
}
body .gist .pl-iu {
    background: #b4b7b4;
}
body .gist .pl-mo {
    color: #969896;
}
body .gist .pl-ms1 {
    background: #f5f5f5;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
    color: #5f5a60;
    font-style: italic;
}
body .gist .pl-c1,
body .gist .pl-cn,
body .gist .pl-coc,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mq,
body .gist .pl-pdc1,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-pse .pl-s2,
body .gist .pl-scp,
body .gist .pl-vi {
    color: #cf6a4c;
}
body .gist .pl-cce,
body .gist .pl-mh,
body .gist .pl-mdr {
    color: #cf6a4c;
    font-weight: 400;
}
body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-pds,
body .gist .pl-s1,
body .gist .pl-sol {
    color: #8f9d6a;
}
body .gist .pl-e,
body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-eoi,
body .gist .pl-smc,
body .gist .pl-vo {
    color: #ac885b;
}
body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-k,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-mp .pl-s3,
body .gist .pl-sok,
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre,
body .gist .pl-st {
    color: #cda869;
}
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-som,
body .gist .pl-sr,
body .gist .pl-stj,
body .gist .pl-vpf {
    color: #7587a6;
}
body .gist .pl-mb,
body .gist .pl-pdb {
    color: #8f9d6a;
    font-weight: 700;
}
body .gist .pl-mi,
body .gist .pl-pdi {
    color: #cda869;
    font-style: italic;
}
body .gist .pl-mp1 .pl-sf,
body .gist .pl-s3,
body .gist .pl-sc,
body .gist .pl-sf {
    color: #dad085;
}
body .gist .pl-stp,
body .gist .pl-sv,
body .gist .pl-v {
    color: #9b859d;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
    color: #55a532;
    background: #020;
}
body .gist .pl-md,
body .gist .pl-mdhf {
    color: #bd2c00;
    background: #200;
}
body .gist .pl-mdh,
body .gist .pl-mdi {
    color: #7587a6;
    font-weight: 400;
}
body .gist .pl-mri,
body .gist .pl-va,
body .gist .pl-vpu {
    color: teal;
}
